<ngc-listview [items]="items">
  <ng-template ngcTemplate="listItem" let-item>
    <div>
      {{item.id}} - {{item.nome}}
    </div>
  </ng-template>
</ngc-listview>

<!--<app-cardorlistview appCarditem [items]="items">
  <ng-template ngcTemplate="card" let-person>
    <div>
      <span>Card Template</span>
      <h1>{{person.id}}</h1>
      <p>{{person.nome}}</p>
    </div>
  </ng-template>

  <ng-template appListitem let-item>
    <div>
      <span>List Template</span>
      <h1>{{item.header}}</h1>
      <p>{{item.content}}</p>
    </div>
  </ng-template>
</app-cardorlistview>-->
